# Ignore project files
.settings
.gradle
.classpath
.project
.idea

*.iml

# Ignore Gradle build output directory
build
.scannerwork
tokens
bin
gradle
target

mvn clean deploy
mvn nexus-staging:release
mvn nexus-staging:drop
/auto-core-lib/auto-core-lib.iml
